<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ config.static }}/media/favicon.png">
	<title>{% if pagename %}{{ pagename }}{% else %}{{ config.sitename }}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="{{ config.static }}/asset/app.css">
	<link rel="stylesheet" type="text/css" href="{{ config.static }}/asset/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ config.static }}/asset/all.min.css">
	<script type="text/javascript" src="{{ config.static }}/asset/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ config.static }}/asset/jquery.min.js"></script>
	<script type="text/javascript" src="{{ config.static }}/asset/htmx.min.js"></script>
	{%- block head_scripts -%}{%- endblock -%}
</head>
<body>
	<div class="header">
		{%- block header -%}{%- endblock -%}
	</div>
	<div class="main-content">
	{%- block content -%}{%- endblock -%}
	</div>
	<div class="footer">
		{%- block footer -%}{%- endblock -%}
	</div>
	{%- block foot_scripts -%}{%- endblock -%}
</body>
</html>